.photo {
    height: 100px;
    width: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

.logoText {
    padding-top: 33px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    text-align:left;
    line-height: 95.6%;
    /* or 34px */


    color: #000000;
}

.welcomePhoto {
    padding-top: 50px;
    padding-left: 10px;
}

/* Info Card */
.infoCard {
    height: 100%;
    background: linear-gradient(152.97deg, rgba(112, 112, 112, 0.2) 0%, rgba(181, 181, 181, 0) 100%);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
}


.loginHeader {
    padding-top: 300px;

    font-family: Avenir;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.lowerLoginHeader {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #949494;
}

.textField {
    width: 313px;
    height: 54px;
}

.loginButton {
    background: linear-gradient(277.48deg, #00827F -4.46%, #2596FF 125.88%);
    border-radius: 10px;
}

.noAcc {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* or 20px */


    color: #949494;
}