.App {
  text-align: center;
  height: 100%;
  background: radial-gradient(39.2% 55.77% at 88.02% 3.08%, rgba(86, 159, 225, 0.2) 0%, rgba(241, 241, 243, 0.2) 100%), radial-gradient(52.81% 71.83% at 40.69% 111.87%, #BAD1D1 0%, #F1F2F3 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}